.thanks{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    align-content: center;
   background-image: url(https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/cc3adc160586505.Y3JvcCw4MTksNjQxLDQyLDIxMg.jpg);
}